<div class="center hero-unit">
	<h1>Welcome to BackYard</h1>
	<p>The app that lets you post your photos of landmarks and national parks.</p>
	<p> <%= link_to 'Sign up now!', "#", class: "btn btn-large btn-primary" %> </p>
</div>	
